body{
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 0px 0px 0px;
}

ol .um .dois .tres{
    color: black;
    font-weight: bold;
}

nav {
    background-color: lightgray;
    padding: 15px;
}

nav a{
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    padding: 30px;
    margin: 35px;
}

header .topo{
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin: 10px 10px 10px 10px;
}

header .conteudo-1{
    background-color: rgba(144, 238, 144, 0.842);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin: 10px 10px 10px 10px;
}

header .conteudo-2{
    background-color: rgba(231, 162, 216, 0.842);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin: 10px 10px 10px 10px;
}

header .conteudo-3{
    background-color: rgba(198, 162, 231, 0.842);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin: 10px 10px 10px 10px;
}
