body{
    background-color: white;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px 0px 0px 0px;
}

ol .um .dois .tres{
    color: black;
    font-weight: bold;
}

nav {
    background-color: #BBC4C5;
    padding: 15px;
    padding-top: 90px;
    margin-bottom: 20px;
}

nav a{
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 10px;
    text-decoration: none;
    margin: 20px;
}

header .conteudo-1{
    background-color: rgba(144, 238, 144, 0.842);
    padding: 20px;
    border-radius: 10px;
    margin: 40px 10px 10px 10px;
}

header .conteudo-2{
    background-color: rgba(231, 162, 216, 0.842);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

header .conteudo-3{
    background-color: rgba(198, 162, 231, 0.842);
    padding: 20px;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}

footer{
    background-color: #BBC4C5;
    color: white;
    font-weight: bold;
    font-size: 17px;
    padding: 15px;
    text-align: center;
    margin-top: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 2px;              
    align-items: flex-start; 
}

.buttons a{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    padding: 15px;
    text-decoration: none;
    margin: 20px 10px 0px 37px;
    border: none;
    border-radius: 32px;
    cursor: pointer;
}

.buttons .button-portfolio{
    background-color: #ADD8E6;
    padding-left: 30px;
    padding-right: 110px;
}

.buttons .button-projetos{
    background-color: #90EE90;
    padding-left: 30px;
    padding-right: 180px;
}

.buttons .button-newsletter{
    background-color: #E7A2D8;
    padding-left: 30px;
    padding-right: 80px;
}

.buttons .button-ensaios{
    background-color: #C6A2E7;
    padding-left: 30px;
    padding-right: 150px;
}

.buttons a:hover{
    background-color: #BBC4C5;
}
