<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <nav>
        <a href="#">INÍCIO</a>
        <a href="#">PROJETOS</a>
        <a href="#">NEWSLETTER</a>
        <a href="#">JOURNAL</a>
        <a href="#">SOBRE</a>
        <a href="#">CONTATO</a>
    </nav>
    <header>
        <div class="topo">
            <h1>Portfólio Pessoal</h1>
            <h3>Hello, World!</h3>
            <ol>
                <li class="um">First item</li>
                <li class="dois">Second item</li>
                <li class="tres">Third item</li>
            </ol>
        </div>
        <div class="conteudo-1">
            <h1>Ideias</h1>
            <h3>Hello, World!</h3>
            <ol>
                <li class="um">First item</li>
                <li class="dois">Second item</li>
                <li class="tres">Third item</li>
            </ol>
        </div>
        <div class="conteudo-2">
            <h1>Planos</h1>
            <h3>Hello, World!</h3>
            <ol>
                <li class="um">First item</li>
                <li class="dois">Second item</li>
                <li class="tres">Third item</li>
            </ol>
        </div>
    </header>
    <script src="script.js"></script>
</body>
</html>